.upload{
    width: 60px;
    height: 50px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    text-align: center;
}

.xsmall-img{
    width: 100px;
    height: auto;
}

.img-review {
    margin: -5px 0 0 20px;
}

body {
    overflow-y: scroll;
}

.inputSearch {
    vertical-align: middle;
}

.btnSearch {
    margin-left: 5px;
}

.pageHeader {
    margin-bottom: 10px;
}

.btnCase {
    margin: 10px;
}
