@media screen and (min-width: 1300px){

}
.flex-content{
    display: block;
    justify-content : center;
    align-items:center;
    position : relative;
}

.responsive-image{
    width: 80%;
    height : auto;
    min-width : 650px;
}

.login-background{
    background: url("/login_background.png") no-repeat center;
    min-height: 650px;
    min-width: 1200px;
    background-size: contain;
}

.login{
    width : 25%;
    min-width:200px;
    position: absolute;
    padding : 20px;
    left: 13%;
    top : 40%;
}

.white-opacity-50{
    background: rgba(255,255,255, 0.5);
}

.input{
    background: #678CB6;
    color: white;
}

.input::-webkit-input-placeholder{
    color: white;
}

.input::-moz-placeholder{
    color: white;
}