@media screen and (min-width: 1300px){
}

.flex-content{
    display: flex;
    justify-content : center;
    align-items:center;
    position : relative;
}

.responsive-image{
    width: 80%;
    height : auto;
    min-width : 650px;
}

.login-background{
    min-height: 700px;
    min-width: 1200px;
    background: url("/assets/login_background.png") no-repeat center;
    height: auto;
    -webkit-background-size:80% 100%;
    background-size:80% 100%;
}

.login{
    width : 25%;
    min-width:200px;
    position: absolute;
    padding : 20px;
    left: 12%;
    top : 42%;
}

.white-opacity-50{
    background: rgba(255,255,255, 0.5);
}

.input{
    background: #678CB6;
    color: white;
}

.input::-webkit-input-placeholder{
    color: white;
}

.input::-moz-placeholder{
    color: white;
}

.validate-error{
    color: red;
    font-size: 1em;
}