.main-container{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-center{
    text-align: center;
}

.img-label{
    margin: 20px;
    font-size: 1.3em;
    color: darkcyan;
}

.clicked{
    cursor: pointer;
}

.clicked:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}